#contenedor {
    background-color: slategray;
    width: 1670px;
    height: 900px;
}

/* CABECERA */

    /* TITULO */

#top {
    background: white;
    width: 100%;
    height:10%;
    text-align: center;
    border: solid 1px black;
}

#title {
    height: 100% ;
    width: 30%;
    margin-left: 25%;
    float: left;
    font-size: 24px;
    font-weight: bolder;
}

#title h2 {
    text-shadow: 3px 6px grey;
    color: black

}
    /* LOGO */

#logo {
    background-color: black;
    width: 5%;
    height: 70%;
    margin-left: 4%;
    margin-top: 1%;
    float: left;

}

#contenedor #top #logo img {
    width:100%;
    height: 100%;

}

